<html>

<head>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

    <nav class="fixed">
        <form action="/auth/logout" method="post">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;jobmatch.er</a>
            <ul id="nav-mobile" class="right">
                <li><a href="javascript:" onclick="parentNode.submit();"><i class="material-icons left">exit_to_app</i>abmelden</a></li>
            </ul>
        </div>
        </form>
    </nav>


<body>
    <div class="view fullcenterinner">
        <div class="jobmatcher-background fixed">
            <div class="parallax" id="one"></div>
            <div class="parallax" id="two"></div>
            <div class="parallax" id="three"></div>
            <div class="parallax" id="four"></div>
            <div class="parallax" id="five"></div>
        </div>

        <div class="grid-container">
            <div class="reload">
                <img class="/images/Reload Matches.png" />
            </div>
            <div class="usercard">
                <div class="matchcardheader">
                    <div class="accentbarTitle accentbarTitleMatching"></div>
                    <h1 class="logintitle matchingtitle">{{{user.fullname}}} (Du)</h1>
                    <p>{{{getAge user}}} Jahre alt</p>
                    <p>{{{user.city}}} | bis {{{user.workradius}}}km</p>
                    <p>{{{user.worktype}}}</p>
                </div>
                <div class="userchipselector"></div>
                <div class="matchcardchips"></div>
            </div>
            
            <div class="employercards">
                {{#if data.data}}
                    {{#each data.data}}
                        <div class="employercard">
                            {{generate_card}}
                        </div>
                    {{/each}}
                {{else}}
                    <center>
                        <h1 class="nomatches">No Matches</h1>
                    </center>
                {{/if}}
            </div>
        </div>

  <!--      <div class="grid-container">
            <div class="usercard">
                <div class="matchcardheader">
                    <div class="accentbarTitle"></div>
                    <h1 class="logintitle matchingtitle">Jakob-Niklas (Du)</h1>
                    <p>15 Jahre alt</p>
                    <p>Bad Vilbel | bis 10km</p>
                    <p>Java Entwickler/in</p>
                </div>
                <div class="userchipselector">
                    <p>
                        <label class="border">
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Vollzeit&nbsp;&nbsp;</span>
                        </label>
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Teilzeit&nbsp;&nbsp;</span>
                        </label>
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Startup&nbsp;&nbsp;</span>
                        </label>
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Crowdworking&nbsp;&nbsp;</span>
                        </label>
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Freelancer&nbsp;&nbsp;</span>
                        </label>
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Homeoffice&nbsp;&nbsp;</span>
                        </label>
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Viel Geld&nbsp;&nbsp;</span>
                        </label>
                    </p>
                </div>
                <div class="matchcardchips"></div>
            </div>
            <div class="employercard">
                <div class="matchcardheader">
                    <div class="accentbarTitle"></div>
                    <h1 class="logintitle matchingtitle">weCodeIt</h1>
                    <p>www.wecodeit.de</p>
                    <p>Frankfurt | ca. 4.61km</p>
                    <p>Platz der Einheit 2</p>
                </div>
                <div class="matchcardchips"></div>
                <div class="companyshortdescription">
                    Mit Expertise und exzellenten Konzepten profitieren Sie
                    von unseren frischen Ansätzen.
                    we {code} it ist das 
                    Software Unternehmen aus Frankfurt am Main,
                    das Ihre Bedarfe erkennt und in eine konkrete, 
                    digitale Anwendung gießt: 
                    Sei es ein einfaches Office-Makro, 
                    ein komplexes Programm, eine mobile App, 
                    Datenbanksysteme oder eine 
                    nutzerfreundliche Unternehmenswebsite.
                </div>
                <div class="companycontact">
                    <button type="email" class="button noselect">
                        mail@wecodeit.de
                    </button>
                    <button type="email" class="button noselect">
                        069 - 3807849 10
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS('.contactbtn');
</script>
</html>